In [7]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler

import tensorflow as tf

from CBF_utils import load_data

In [9]:
df_movies_train, df_user_train, df_y_train, df_movies = load_data()

print(f"movies training set shape : {df_movies_train.shape}")
print(f"user training set shape : {df_user_train.shape}")
print(f"y training set shape : {df_y_train.shape}")
print(f"original movies dataset shape : {df_movies.shape}")

movies training set shape : (100836, 23)
user training set shape : (100836, 23)
y training set shape : (100836,)
original movies dataset shape : (9742, 4)

In [10]:
print(f"movies training contains nan values : {df_movies_train.isna().values.sum()}")
print(f"user training contains nan values : {df_user_train.isna().values.sum()}")
print(f"y training contains nan values : {df_y_train.isna().values.sum()}")

movies training contains nan values : 0
user training contains nan values : 0
y training contains nan values : 0

In [4]:
df_movies_train.head(7)

,movieId,year,rating,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,1995,3.920930,0.0,0.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
215,3,1995,3.259615,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
267,6,1995,3.946078,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
369,47,1995,3.975369,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
572,50,1995,4.237745,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
776,70,1996,3.509091,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
831,101,1996,3.782609,0.0,0.0,1.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [5]:
df_user_train.head(7)

,userId,rating_count,rating_mean,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,232,4.366379,0.0,4.322222,4.388235,4.689655,4.547619,4.277108,4.355556,...,5.0,3.470588,0.0,4.681818,4.166667,4.307692,4.225,4.145455,4.5,4.285714
1,1,232,4.366379,0.0,4.322222,4.388235,4.689655,4.547619,4.277108,4.355556,...,5.0,3.470588,0.0,4.681818,4.166667,4.307692,4.225,4.145455,4.5,4.285714
2,1,232,4.366379,0.0,4.322222,4.388235,4.689655,4.547619,4.277108,4.355556,...,5.0,3.470588,0.0,4.681818,4.166667,4.307692,4.225,4.145455,4.5,4.285714
3,1,232,4.366379,0.0,4.322222,4.388235,4.689655,4.547619,4.277108,4.355556,...,5.0,3.470588,0.0,4.681818,4.166667,4.307692,4.225,4.145455,4.5,4.285714
4,1,232,4.366379,0.0,4.322222,4.388235,4.689655,4.547619,4.277108,4.355556,...,5.0,3.470588,0.0,4.681818,4.166667,4.307692,4.225,4.145455,4.5,4.285714
5,1,232,4.366379,0.0,4.322222,4.388235,4.689655,4.547619,4.277108,4.355556,...,5.0,3.470588,0.0,4.681818,4.166667,4.307692,4.225,4.145455,4.5,4.285714
6,1,232,4.366379,0.0,4.322222,4.388235,4.689655,4.547619,4.277108,4.355556,...,5.0,3.470588,0.0,4.681818,4.166667,4.307692,4.225,4.145455,4.5,4.285714

In [6]:
df_y_train.head(7)

0    4.0
1    4.0
2    4.0
3    5.0
4    5.0
5    3.0
6    5.0
Name: rating, dtype: float64

In [26]:
movie_train = df_movies_train.values
user_train = df_user_train.values
y_train = df_y_train.values.reshape(-1, 1)

In [28]:
movies_train_unscaled = movie_train
user_train_unscaled = user_train
y_train_unscaled = y_train

movie_scaler = StandardScaler()
movie_train = movie_scaler.fit_transform(movie_train)

user_scaler = StandardScaler()
user_train = user_scaler.fit_transform(user_train)

y_scaler = MinMaxScaler()
y_train = y_scaler.fit_transform(y_train)

# print(np.allclose(movies_train_unscaled, movie_scaler.inverse_transform(movie_train)))

In [29]:
movie_train, movie_test = train_test_split(movie_train, shuffle=True, train_size=0.8, random_state=1)
user_train, user_test = train_test_split(user_train, shuffle=True, train_size=0.8, random_state=1)
y_train, y_test = train_test_split(y_train, shuffle=True, train_size=0.8, random_state=1)

print(f"training data shape : {movie_train.shape}")
print(f"test data shape : {movie_test.shape}")

training data shape : (80668, 23)
test data shape : (20168, 23)